{% extends "base.html" %}
{% block content %}
<!-- FLOWER SECTION -->
<section class="flowers">
    <h2>Our Flowers</h2>

    <div class="flower-grid">

        <div class="flower-card">
            <img src="\media\products\bouquet_with_rose.png" alt="Rose">
            <h3>Rose</h3>
            <p>₹199</p>
            <button class="cart-btn">Add to Cart</button>
        </div>

        <div class="flower-card">
            <img src="\media\products\marrygold.png" alt="Lily">
            <h3>Lily</h3>
            <p>₹249</p>
            <button class="cart-btn">Add to Cart</button>
        </div>

        <div class="flower-card">
            <img src="\media\products\orchid.png" alt="Tulip">
            <h3>Tulip</h3>
            <p>₹299</p>
            <button class="cart-btn">Add to Cart</button>
        </div>

        <div class="flower-card">
            <img src="\media\products\paper.png" alt="Sunflower">
            <h3>Sunflower</h3>
            <p>₹179</p>
            <button class="cart-btn">Add to Cart</button>
        </div>

        <div class="flower-card">
            <img src="\media\products\pink_flower.png" alt="Orchid">
            <h3>Orchid</h3>
            <p>₹349</p>
            <button class="cart-btn">Add to Cart</button>
        </div>

        <div class="flower-card">
            <img src="\media\products\rose-bouquet.avif" alt="Daisy">
            <h3>Daisy</h3>
            <p>₹159</p>
            <button class="cart-btn">Add to Cart</button>
        </div>

        <div class="flower-card">
            <img src="\media\products\cara.png" alt="Jasmine">
            <h3>Jasmine</h3>
            <p>₹199</p>
            <button class="cart-btn">Add to Cart</button>
        </div>

        <div class="flower-card">
            <img src="\media\products\pink_gerberas.avif" alt="Lavender">
            <h3>Lavender</h3>
            <p>₹279</p>
            <button class="cart-btn">Add to Cart</button>
        </div>

        <div class="flower-card">
            <img src="\media\products\red_rose.png" alt="Marigold">
            <h3>Marigold</h3>
            <p>₹99</p>
            <button class="cart-btn">Add to Cart</button>
        </div>

        <div class="flower-card">
            <img src="\media\products\cara.png" alt="Carnation">
            <h3>Carnation</h3>
            <p>₹189</p>
            <button class="cart-btn">Add to Cart</button>
        </div>

    </div>
</section>


{% endblock %}