
{% extends 'base.html' %}

{% block content %}


<header class="navbar">
    <div class="logo">🌸 Flower Shop</div>

    <nav class="nav-links">
        <a href="{% url 'home' %}" class="btn btn-outline-dark">Home</a>
        <a href="{% url 'about' %}" class="btn btn-outline-dark">About</a>
        <a href="{% url 'contact' %}" class="btn btn-outline-dark">Contact</a>
    </nav>

    <div class="auth-links">
        <a href="#">Login</a>
        <a href="#" class="signup">Sign Up</a>
    </div>
</header>

{% block content %}{% endblock %}

{% endblock %}